
.body{
    font-family: 'Lato', sans-serif;
    background-color: blue;
}
/*---------------------------------------------------------------------*/
.grid-container{
display: grid;
grid-column-gap: 10px;
grid-template-columns: 2% 32% 32% 32% 2%;
grid-template-rows: 15% 50% 10% 40% 5%;
padding: auto;
margin: auto;
font-family: 'Lato', sans-serif;

}
/*---------------------------------------------------------------------*/
.grid-item{
position: relative;
}
/*---------------------------------------------------------------------*/
.item1{
    grid-column-start: 2;
    grid-column-end: 5;
    background: url("../img/header_bg.png")
}
/*---------------------------------------------------------------------*/
.item2{
    grid-column-start: 2;
    grid-column-end: 5;
    background: url("../img/banner_bg.png") repeat-x;
    padding-top: 15px;
}

img.bannerimg{
    float: left;
}



p.bannertxt{
    color: white;
    text-align: left;
    padding-left: 20px;
}

/*---------------------------------------------------------------------*/
.item3{
    background-color: black;
    height: 50px;
    grid-column-start: 2;
    grid-column-end: 5;
}
/*---------------------------------------------------------------------*/
.item4{
grid-column-start: 2;
grid-column-end: 2;
}
/*---------------------------------------------------------------------*/
.item5{
    grid-column-start: 2;
    grid-column-end: 2;
 
}
/*---------------------------------------------------------------------*/
.item6{
    grid-column-start: 3;
    grid-column-end: 3;

}
/*---------------------------------------------------------------------*/
.item7{
    grid-column-start: 4;
    grid-column-end: 4;

}
/*---------------------------------------------------------------------*/
.item8{
    grid-column-start: 5;
    grid-column-end: 5;
}
/*---------------------------------------------------------------------*/
.item9{
    grid-column-start: 1;
    grid-column-end: 5;
    z-index: 1;
    color: white;
    background: url("../img/footer_bg.png") repeat-x;
    text-align: center;
}
/*---------------------------------------------------------------------*/


